<app-navbar></app-navbar>
<div class="container">
    <h1 class="title margin-top">Home Repairs</h1>
    <div class="home-repairs">  
      <div class="list">
        <img src="../../assets/list-1.jpg">
        <span>Electricians</span>
      </div>
      <div class="list">
        <img src="../../assets/list-2.jpg">
        <span>Plumbers</span>
      </div>
      <div class="list">
        <img src="../../assets/list-3.jpg">
        <span>Maid</span>
      </div>
    </div>
  </div>

  <div class="container">
      footer
  </div>
<!--footer-->