.footer-bg {
    float: left;
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5rem;
    background: #00000094;
}