<div class="container-fluid">
  <div class="bg">
    <div class="logo">
      <a class="navbar-brand" href="#"><img src="/assets/job-logo.png" height="50px" width="50px" alt="logo"> </a>
    
    </div>
    <nav class="mt-1 navbar navbar-expand-lg  navbar-dark danger-color">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
   
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        
        <form class="form-inline">
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <a routerLink="/login/emp_login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
            </li>
            <li class="nav-item">
              <a routerLink="/register/emp_register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </div>  
</div>

